<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogB | {{article.title}}</title>
</head>
<body>
    <h1>Posts Fetched from the Database</h1>
    {%for post in posts %}
        <h4>{{post.title}}</h4>
        <p>Written by <i>{{post.author}}</i> and Posted on <b>{{post.date}}  </b></p>
        <p>{{post.content}}</p>
        <br><br>
    {%endfor%}
    
</body>
</html>

